.cards-container {
    background-color: pink;

    display: flex;
    justify-content: space-between;
    padding: 0 10vw;
}

.card {
    background-color: aliceblue;
    height: 400px;
    width: 400px;

    border: solid;
}

h2 {
    text-align: center;
}