footer {
    background-color: black;
    min-height: 10vh;
    display: flex;
    align-items: center;
    justify-content: center;

    .footer-info {
        color: white;
        text-align: center;
        font-size: 1.5em;
    }
}