.hero {
    height: 100vh;
    background-color: lightgray;

    display: flex;
    align-items: center;
}

.hero-title {
    background-color: $baby-blue-eyes;
    text-align: center;
    width: 100%;
    padding: 5% 0;

    h1 {
        color: $primary;
    }
    
    h2 {
        color: $secondary;
    }
}