.hero {
    height: 100vh;
    background-color: lightgray;

    display: flex;
    align-items: center;
}

.hero-title {
    background-color: var(--baby-blue-eyes);
    text-align: center;
    width: 100%;

    padding: 5% 0;
}

.hero-title h1 {
    color: var(--primary);
}

.hero-title h2 {
    color: var(--secondary)
}