body {
    font-family: Roboto, sans-serif;
}

$secondary: #545e75ff; /* --independence */
$blue-jeans: #63adf2ff;
$baby-blue-eyes: #a7ccedff;
$primary: #304d6dff; /* --yale-blue */
$air-superiority-blue: #82a0bcff;